@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";


@media only screen and (min-width: 300px){
  .headers {
    margin: 0 0.2rem;
    font-size: small;
  }

  #About {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(240, 228, 68);
  }

  .flexItem {
    margin: 0.5rem 1rem;
  }
  
  .aboutWriting {
    flex-basis: 10rem;
  }

  #Projects {
    background: cornflowerblue;
  }

  .projects {
    font-size: 4rem;
    text-align: right;
  }

  .projCard {
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .projCardItem {
    margin: 0.3rem 0;
  }

  .miniFlexItem {
    margin: 0 0.2rem;
  }

  #Resume {
    background-color: rgba(63, 129, 129, 0.788);
  }

  .resume {
    font-size: 4rem;
  }

  .alice-carousel__dots-item.__active {
    background-color: rgb(41, 73, 63);
  }
  .alice-carousel__next-btn-item, .alice-carousel__prev-btn-item {
    color: white;
  }

  .jobCard {
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #Contact {
    background-color: rgb(238, 168, 63);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .contactInner {
    width: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media only screen and (min-width: 1000px){
  .headers {
    margin: 0 0.5rem;
    font-size: medium;
  }

  #About {
    padding: 4rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(240, 228, 68);
  }
  .flexItem {
    margin: 0 0.5rem;
  }
  
  .aboutWriting {
    flex-basis: 30rem;
  }

  #Projects {
    background: cornflowerblue;
  }

  .projects {
    font-size: 8rem;
    text-align: right;
  }

  .projCard {
    width: 40rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .projCardItem {
    margin: 0.3rem 0;
  }

  .miniFlexItem {
    margin: 0 0.2rem;
  }

  #Resume {
    background-color: rgba(63, 129, 129, 0.788);
  }

  .resume {
    font-size: 6rem;
  }

  .alice-carousel__dots-item.__active {
    background-color: rgb(41, 73, 63);
  }
  .alice-carousel__next-btn-item, .alice-carousel__prev-btn-item {
    color: white;
  }

  .jobCard {
    width: 40rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #Contact {
    background-color: rgb(238, 168, 63);
    bottom: 0;
    width: 100;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .contactInner {
    bottom: 0;
    width: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}