@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.headers {
  margin: 0 0.5rem;
  font-size: medium;
}

#About {
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexItem {
  margin: 0 0.5rem;
}

.aboutWriting {
  flex-basis: 30rem;
}

#Project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background: cornflowerblue;
}

.Project {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25rem;
  height: 25rem;
  margin: 1rem 1rem 1rem 0;
}

.projCardItem {
  margin: 0.3rem 0;
}

.miniFlexItem {
  margin: 0 0.2rem;
}

#Resume {
  background-color: darkslategray;
}

.alice-carousel__dots-item :active {
  background-color: black;
}
.alice-carousel__next-btn-item .alice-carousel__prev-btn-item {
  color: white;
}

.jobCard {
  width: 40rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#Contact {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
}