@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@media screen and (max-width: 730px) {
  .nav {
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  
}

@media screen and (min-width: 1024px) {
  
}

.headers {
  margin: 0 0.5rem;
  font-size: medium;
}

#About {
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(240, 228, 68);
}

.flexItem {
  margin: 0 0.5rem;
}

.aboutWriting {
  flex-basis: 30rem;
}

#Projects {
  background: cornflowerblue;
  padding: 0 0 4rem 0;
}

.projCard {
  width: 40rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projCardItem {
  margin: 0.3rem 0;
}

.tags {
  margin: 0 0.2rem;
}

#Resume {
  background-color: rgba(63, 129, 129, 0.788);
  padding: 0 0 4rem 0;
}

.jobCard {
  width: 40rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#Contact {
  background-color: rgb(238, 168, 63);
  bottom: 0;
  width: 100;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.contactInner {
  bottom: 0;
  width: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

#Sidebar {
  position: fixed;
  width:20rem;
  left: 0;
  margin: 2rem 1rem;
}

#Recipes {
  position:fixed;
  left: 22rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.recipeCard {
  width: 25rem;
  margin: 2rem 1rem;
}
