.center {
    text-align: center;
}

.large-right {
    font-size: 8rem;
    text-align: right;
    margin: 0 2rem 2rem 0;
}

.large-left {
    font-size: 6rem;
    text-align: left;
    margin: 0 0 2rem 2rem;
}

.carousel-btns {
    display: flex;
    justify-content: center;
}

.carousel-btn {
    margin: 1rem 3rem 0;
}